.containerbanner
{
    position:absolute;
    top:24%;
    left:5%;
}.newscontainer {
    position: absolute;
    background-color: white;
    width: 80%;
    top: 17%;
    left: 10%;
    border-radius: 12px;
    padding: 6px;
    overflow: hidden;
}

.scroll-wrapper {
    white-space: nowrap;
    display: flex;
}

.scroll-content {
    display: inline-flex;
    animation: scrollHorizontal linear infinite;
}

/* Pause animation on hover */
.scroll-content:hover {
    animation-play-state: paused;
}

@keyframes scrollHorizontal {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Responsive */
@media (max-width: 767px) {
    .newscontainer {
        width: 90%;
    }
    .newscontainer{
        top:15%;
    }
}
